{% extends "admin/change_list.html" %}
{% block object-tools-items %}
<form class="form-inline" enctype="multipart/form-data" method="post" action="add/">
 {% csrf_token %}
 <br>
<div style="padding-top:100px; display:inline;">
   上传文件：
    <input name="name" class="form-control" placeholder="文件名" type="text"  size="25">
	 <input type="file" name="file" id="inputfile" > 
	 <button class="btn btn-primary" type="submit">上传</button>
</div>               
 <br>

</form>       
{{ super }}
{% endblock %}

