<link href="/static/css/image.css" rel="stylesheet" type="text/css" />
<div id="win">
	<ul id="picChange">
		<li><img  src="/static/images/gg2.jpg" width="740px" title=""></li>
		<li><img  src="/static/images/gg4.jpg" width="740px" title=""></li>
		<li><img  src="/static/images/gg1.jpg"  width="740px" title=""></li>
		<li><img  src="/static/images/gg21.jpg"  width="740x" title=""></li>
	</ul>
</div>
<script type="text/javascript" src="/static/js/picChange-0.3.2.js"></script>
<script type="text/javascript">
$pic("picChange").picChange({changeStyle:"fade",time:200,interTime:5000});
</script>
